html,body,.dimension-form {
  height : 90%;
}

.grid{
  visibility:visible;
  width: 100%;
  height: 100%;
  float: left;
}

.line{
  border: 1px solid;
  position: absolute;
}

.box{
  width: 50px;
  height: 50px;
  border: 1px solid;
  position: absolute;
}

.node{
  width: 10px;
  height: 15px;
  border-radius: 30%;
  background: white;
  position: absolute;
}

.button1 {
  border-radius: 100%;
  background-color: Black;
  color: white;
  height: 20px;
  width: 10px;
  text-align: center;
}


.selector{
  background-color: white;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
}

.selector button {
  border-radius: 100%;
  background-color: Black;
  color: white;
  height: 20px;
  width: 10px;
  text-align: center;
}
