html,body,.dimension-form {
  height : 90%;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #f00;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid green;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid blue;
}


.grid{
  visibility:visible;
  width: 100%;
  height: 100%;
  float: left;
}

.line{
  border: 1px solid;
  position: absolute;
}

.box{
  width: 50px;
  height: 50px;
  border: 1px solid;
  position: absolute;
}

.node{
  width: 10px;
  height: 15px;
  border-radius: 30%;
  background: white;
  position: absolute;
}

.button1 {
  border-radius: 100%;
  background-color: Black;
  color: white;
  height: 20px;
  width: 10px;
  text-align: center;
}

.dist-label {
  position: absolute;
  bottom: 8px;
  left: 16px;
  text-align:right;
  justify-content: center;

}


.selector{
  background-color: white;
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
}

.selector button {
  border-radius: 100%;
  background-color: Black;
  color: white;
  height: 20px;
  width: 10px;
  text-align: center;
}
