{% load static %}

<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, inital-scale=1">
        <title>{% block title %}Django{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    </head>
    <body>
        {% include 'header.html' %}
        {% include 'messages.html' %}

        {% block body %}
        {% endblock %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>M.AutoInit();</script>
    
    </body>
</html>