{% load static %}
<nav>
  <div class="nav-wrapper teal">
    <div class="container">
      <a href="/" class="brand-logo">
        <img src="{% static 'image/logo.png' %}" alt="TransportED" style="width: 64px;">
      </a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/get">Request Packages</a></li>
        <li><a href="/packages">Edit Packages</a></li>
        <li><a href="/generator">Warehouse Generator</a></li>
      </ul>
    </div>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><a href="/">Dashboard</a></li>
  <li><a href="/get">Request Packages</a></li>
  <li><a href="/packages">Edit Packages</a></li>
  <li><a href="/generator">Warehouse Generator</a></li>
</ul>