{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

    <h1>Current Tasks</h1><br>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Robot Name</th>
            <th scope="col">Package ID</th>
            <th scope="col">Package Details</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
          <tr>
            <td>{{task.robot.name}}</th>
            <td>{{task.package.old_id}}</td>
            <td>{{task.package.details}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      {% if empty %}
      <h5 style=text-align:center>There are no running tasks</h5>
      {% endif %}
      

{% endblock %}