{% extends 'base.html' %}
{% block title %} Map Generator {% endblock %}
{% block body %}
    <h1>MAP Generator</h1>
    Coming Soon!



<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Page Title</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="/static/css/style.css">
<style>
</style>
<script src="/static/js/menu.js"></script>
<body>

<!-- <div id="main"></div> -->
<input type = "button" onclick = "createGrid()" value = "Display">
<input type = "button" onclick = "connect_button()" value = "Connect">
<input type = "button" onclick = "toggle_grid()" value = "Toggle Grid">
<input type = "button" onclick = "export_js_db()" value = "Export">



<div class="grid"></div>

<div class="item-selector">
  <label for="">Please Select An Item You Would Like To Add.</label>
  <select name="selector" id="selector">
      <option value="Robot">Robot</option>
      <option value="RFID">RFID</option>
      <option value="Shelf">Shelf</option>
      <!-- <option value="audi">Audi</option> -->
  </select>
  <input type = "button" id = "select_button" value = "Confirm">
</div>

<div class = "temp-select"></div>

<div class = "connections"></div>



<!--
<div class = "box1">hi</div>
<div class = "box2"></div>
<div class = "box3"></div>
<div class = "box4"></div>
<div class = "box5"></div>
<div class = "box6"></div> -->


</body>
</html>









{% endblock %}