{% extends 'base.html' %}

{% block title %} Packages {% endblock %}

{% block body %}
        
<div class="container">
    <div class="section">
        <h2 class="center-align">Packages</h2>
    </div>
    <div class="section">
        <div class="center-align">
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn waves-effect waves-light" type="submit" value="Get Packages">Get Packages</button>
            </form>
        </div>
    </div>
</div>

        
    
{% endblock %}